<!DOCTYPE html>
<html lang="en">
<head> <title>Student Sign Up Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="studentform.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFD300;">
  <a class="navbar-brand" href="#">CAPES Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="profile.html">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Opportunities</a>
      </li>
    </ul>
      <a class="nav-link" href="index.html" style="color:#000000;">Sign up</a>
  </div>
</nav>
<div class="title" >
  <h1>Student Profile Sign-up Page</h1>
  <p style="text-align:center; font-size:0.5cm; color:#FFFFFF;">Please sign up on the form below.</p>
</div>
<div class="content" style="opacity:1.0;">
  <span class="rounded-lg"><form style="padding-top:20px; padding-left:20px; padding-right:20px; padding-bottom:20px;">
    <div class="form-group" style="align-items:center; opacity:1.0;">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="row" style="padding-top:10px; padding-bottom:10px;">
      <div class="col" width="100px">
    <div class="form-group" style="opacity:1.0;">
      <label for="exampleInputPassword1">First Name</label>
      <input type="text" class="form-control" id="first_name">
    </div>
  </div>
  <div class="col">
    <div class="form-group" style="opacity:1.0;">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" class="form-control" id="last_name">
    </div>
  </div>
  <div class="col">
    <div class="form-group" style="opacity:1.0;">
      <label for="exampleInputPassword1">Nickname</label>
      <input type="text" class="form-control" id="last_name">
    </div>
  </div>
</div>
    <div class="form-group" style="align-items:center; opacity:1.0;">
      <label for="exampleInputEmail1">Student Number</label>
      <input type="email" class="form-control" id="student_number" aria-describedby="emailHelp">
    </div>
    <div class="row" style="padding-top:10px; padding-bottom:10px;">
      <div class="col">
    <div class="form-group" style="opacity:1.0;">
    <label for="exampleFormControlSelect1">Degree</label>
    <select class="form-control" id="degree">
    </select>
  </div>
</div>
<div class="col">
  <div class="form-group" style="opacity:1.0;">
  <label for="exampleFormControlSelect1">Program</label>
  <select class="form-control" id="program">
  </select>
</div>
</div>
</div>
    <div class="form-group" style="opacity:1.0;">
    <label for="exampleFormControlSelect1">Expected Year of Graduation</label>
    <select class="form-control" id="exampleFormControlSelect1">
    </select>
  </div>
  <div class="form-group" style="align-items:center; opacity:1.0;">
    <label for="exampleInputEmail1">City</label>
    <input type="email" class="form-control" id="student_number" aria-describedby="emailHelp">
  </div>
    <div class="form-group" style="opacity:1.0;">
      <label for="exampleFormControlFile1">Please upload a profile picture.</label>
      <input type="file" class="form-control-file" id="profilepic">
    </div>
    <button type="submit" class="btn btn-primary" style="background-color:#000000; opacity:1.0">Submit</button>
  </form>
  </span>
</div>
</body>
</html>
